torch>=2.2.0
transformers>=4.41.0
accelerate
numpy
fastapi
uvicorn[standard]
tqdm
pandas
fastapi==0.111.0
pydantic>=2.7,<3.0
redis>=5.0
openai~=1.30

pydantic-settings>=2.2.1
python-dotenv>=1.0.1   
stomp.py>=8.1.0      # Amazon MQ(STOMP) 클라이언트
pika
aio_pika